services:
  postgres:
    image: postgres:16-alpine
    container_name: yt-transcript-db-local
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - yt-network

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: yt-transcript-backend-local
    environment:
      YOUTUBE_API_KEY: ${YOUTUBE_API_KEY}
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - yt-network
    volumes:
      - ./backend:/app/backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: yt-transcript-frontend-local
    environment:
      PUBLIC_API_URL: http://localhost:8000
      ORIGIN: http://localhost:3000
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - yt-network

networks:
  yt-network:
    driver: bridge